:root{
    --white:#ffffff;
    --dablue: #222831;
    --blue:#2e55ba; 
    --accentblack:#313131;
    --yellow:#FFD369;
    --yellow:#FFD369;
    --addgray:#DBD0C0;
    --gray:#FAEEE0;
    --beige:#F9CF93;
    --lbeige:#FAEEE0;

    --white-light:#ffffff;
    --blue-light:#2e55ba;
    --accentblack-light:#313131;
    --yellow-light:#FFD369;
    --gray-light:#f4f1f1;
    --addgray-light:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;

    --white-dark:#ffffff;
    --blue-dark:#2e55ba;
    --accentblack-dark:#313131;
    --yellow-dark:#FFD369;
    --gray-dark:#f4f1f1;
    --addgray-dark:#e3e3e3;
    --beige-light:#F9CF93;
    --lbeige-light:#FAEEE0;
}

@media(prefers-color-scheme: dark){
    :root{
        --white: var(--white-dark);
        --blue: var(--blue-dark);
        --accentblack: var(--accentblack-dark);
        --red: var(--red-dark);
        --gray: var(--gray-dark);
    }
}

.sidebar{
    background-color: #393E46;
    height: 85vh;
    padding: 1vw 0;
    width: 5vw;
    position: -webkit-sticky;
    border: transparent;
    overflow-y: auto;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
   
    
}
.side-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 2vw;
    width: 100%;
}

.side-nav ul .homeActive {
    content: url("../../public/assets/homeActive.svg");
    /* width: 200px;
    height: 200px; */
}
.side-nav ul .home {
    content: url("../../public/assets/home.svg");
    /* width: 200px;
    height: 200px; */
}
.side-nav ul .calender {
    content: url("../../public/assets/icon1.svg");
    /* width: 200px;
    height: 200px; */
}
.side-nav ul .calenderActive {
    content: url("../../public/assets/icon1Active.svg");
    /* width: 200px;
    height: 200px; */
}
.side-nav ul .assignment {
    content: url("../../public/assets/icon2.svg");
    /* width: 200px;
    height: 200px; */
}
.side-nav ul .assignmentActive {
    content: url("../../public/assets/icon2Active.svg");
    /* width: 200px;
    height: 200px; */
}
.side-nav ul .history {
    content: url("../../public/assets/icon3.svg");
    /* width: 200px;
    height: 200px; */
}
.side-nav ul .historyActive {
    content: url("../../public/assets/icon3Active.svg");
    /* width: 200px;
    height: 200px; */
}

.side-nav ul{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30%;
}

.side-nav ul img{
    width: 2.5vw;
    display: block;
}